<!DOCTYPE html>
<html>
<head>
  <!-- <link rel = "icon" href = "assets/title_image.png" type = "image/x-icon"> -->
        
  <meta charset="utf-8">
  <meta name="description"
        content="TODO: MPRW Dataset Paper: Add name here">
  <meta name="keywords" content="TODO: Add keywords, e.g keyword 1, keyword 2, etc">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta property="og:image" content="assets/Thumbnail.png" />         -->
  <title>TODO: MPRW Dataset Paper: Add name here</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ERWFHDG4GX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ERWFHDG4GX'); // TODO: Configure this if we want ad analytics?
  </script>

  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
        rel="stylesheet">

  <link rel="stylesheet" href="../static/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="../static/css/bulma-slider.min.css">
  <link rel="stylesheet" href="../static/css/fontawesome.all.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="icon" href="../static/images/favicon.svg">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="../static/js/fontawesome.all.min.js"></script>
  <script src="../static/js/bulma-carousel.min.js"></script>
  <script src="../static/js/bulma-slider.min.js"></script>
  <script src="../static/js/index.js"></script>
  <script src="../static/js/filter.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
      <a class="navbar-item" href="TODO: add correct home page link here">
      <span class="icon">
          <i class="fas fa-home"></i>
      </span>
      </a>
    </div>

  </div>
</nav>


<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-2 publication-title">TODO: MPRW Dataset Paper: Add name here</h1>
          <div class="is-size-6 publication-authors">
            <span class="author-block">
              <a href="TODO: add website here">Micah Nye</a><sup>1</sup>,
            </span>
            <span class="author-block">
                <a href="TODO: add website here">Example Name</a><sup>1</sup>,
              </span>
            <span class="author-block">
              <a href="TODO: add website here">Example Name</a><sup>2</sup>,
            </span>
            <span class="author-block">
              <a href="TODO: add website here">Example Name</a><sup>3</sup>,
            </span>
          </div>

          <div class="is-size-6 publication-authors">
            <span class="author-block"><sup>1</sup>Carnegie Mellon University,</span>
            <span class="author-block"><sup>2</sup>University of Pittsburgh,</span>
            <span class="author-block"><sup>3</sup>University of Waterloo</span>
          </div>
          
          <div class="column has-text-centered">
            <div class="publication-links">
              <!-- PDF Link. -->
              <span class="link-block">
                <a href="assets/TODO_add_name_here.pdf"
                   class="external-link button is-normal ">
                  <span class="icon">
                      <i class="fas fa-file-pdf"></i>
                  </span>
                  <span>Paper</span>
                </a>
              </span>
              <span class="link-block">
                <a href="TODO: add link here"
                   class="external-link button is-normal ">
                  <span class="icon">
                      <i class="ai ai-arxiv"></i>
                  </span>
                  <span>arXiv</span>
                </a>
              </span>
              <!-- Video Link. -->
              <span class="link-block">
                <a href="TODO: add link here"
                   class="external-link button is-normal ">
                  <span class="icon">
                      <i class="fab fa-youtube"></i>
                  </span>
                  <span>Video</span>
                </a>
              </span>
              <!-- Thread Link. -->
              <span class="link-block">
                <a href="TODO: add link here"
                   class="external-link button is-normal ">
                  <span class="icon">
                      <i class="fab fa-twitter"></i>
                  </span>
                  <span>Thread</span>
                </a>
              </span>
              <!-- Code Link. -->
              <!-- <span class="link-block">
                <a href="https://github.com/spla-tam/SplaTAM"
                   class="external-link button is-normal ">
                  <span class="icon">
                      <i class="fab fa-github"></i>
                  </span>
                  <span>Code</span>
                  </a>
              </span> -->
              <!-- Demo Link. -->
              <!-- <span class="link-block">
                <a href="https://github.com/spla-tam/SplaTAM#demo"
                   class="external-link button is-normal">
                  <span class="icon">
                      <i class="fa fa-basketball-ball"></i>
                  </span>
                  <span>Demo</span>
                  </a>
              </span> -->
              <!-- Hugging Face Demo Link.
              <span class="link-block">
                <a href="https://huggingface.co/spaces/TheProjectsGuy/AnyLoc"
                   class="external-link button is-normal">
                  <span class="icon">
                      <i class="fa fa-face-smiling-hands"></i>
                  </span>
                  <span>HF Demo</span>
                  </a>
              </span> -->

              <!-- Dataset Link. -->
              <!-- <span class="link-block">
                <a href="#"
                   class="external-link button is-normal" disabled="true">
                  <span class="icon">
                      <i class="far fa-images"></i>
                  </span>
                  <span>Data</span>
                  </a>
            </div> -->


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
TODO: add video content here
<section class="hero teaser">
  <div class="container is-max-desktop">
    <div class="hero-body">
        <div class="container is-max-desktop">
        <div class="columns is-centered">
      
        <div class="column has-text-centered">
          <div class="content">
            <video id="s1_recon" autoplay controls muted loop playsinline height="100%">
              <source src="./data/splash.mp4"
                      type="video/mp4">
            </video>
          </div>
        </div>

        </div>
        </div>
      <h2 class="subtitle has-text-centered">
        <span>ViSafe demonstrates</span>
      </h2>
    </div>
  </div>
</section>
-->

<section class="hero is-small is-light">
  <div class="hero-body">
  <div class="container is-max-desktop">
    <!-- Abstract. -->
    <div class="columns is-centered has-text-centered">
      <div class="column is-four-fifths">
        <h2 class="title is-3">Abstract</h2>
        <div class="content has-text-justified">
          <p>
            TODO: add abstract here
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    </div>
    <!-- Paper video. -->
    <!-- <div class="columns is-centered has-text-centered">
      <div class="column is-four-fifths">
        <h2 class="title is-3">Video</h2>
        <div class="publication-video">
          <a id="overview_video"></a>
          <iframe
            src="./data/">
          </iframe>
        </div>
      </div>
    </div>
  </div> -->
    <!--/ Paper video. -->
</section>

<!--
TODO: add interactive graphs/plots/utilities here
-->


<!--
<section class="section" id="filter">
<div class="hero-body">
<div class="container is-max-desktop">
  <h2 class="title is-3">Filter Betty Dataset</h2>
  <form id="addfilterform">
      <div class="block">
          <h3 class="subtitle">Add a filter</h2>
          <label for="attribute">YAML Attribute:</label>
          <select id="attribute" name="attribute">
              <option value="">Select an attribute</option>
          </select>
          <button type="button" onclick="addYamlAttribute()">Add sub-attribute</button>
          <p id="allattributes"></p>
      </div>

      <!- - conditionally display this - ->
      <div id="transformation-section" style="display: none;" class="block">
          <h3 class="subtitle">Apply function to data (Optional)</h3>
          <div>
              <label for="transformation">Transformation:</label>
              <select id="transformation" name="transformation" value="none">
                  <option value="none">None</option>
                  <option value="len">Python Function: len()</option>
              </select>
          </div>
      </div>
      <div class="block">
        <h3 class="subtitle">Filter criteria</h3>
        <label for="filtertype">Type:</label>
        <select id="filtertype" name="filtertype" value="exact">
            <option value="exact">Exact Value</option>
            <option value="range">Range</option>
            <option value="set">Set of Values</option>
        </select>
        <div id="exact" class="">
            <label for="exactvalue">Enter exact value:</label>
            <input type="text" id="exactvalue" name="exactvalue">
        </div>
        <div id="range" class="hidden">
            <div>
                <label for="rangebegin">Enter range begin:</label>
                <input type="text" id="rangebegin" name="rangebegin">
                <label for="rangebegininclusive">Inclusive?</label>
                <input type="checkbox" id="rangebegininclusive" name="rangebegininclusive">
            </div>
            <div>
                <label for="rangeend">Enter range end:</label>
                <input type="text" id="rangeend" name="rangeend">
                <label for="rangeendinclusive">Inclusive?</label>
                <input type="checkbox" id="rangeendinclusive" name="rangeendinclusive">
            </div>
        </div>
        <div id="set" class="hidden">
            <label for="setvalue">Enter set of possible values:</label>
            <input type="text" id="setvalue" name="setvalue">
            <button type="button" onclick="addSetValue()">Add value</button>
            <p id="setvalues"></p>
        </div>
        <div>
            <input type="submit" value="Add filter">
        </div>
      </div>
  </form>
  <form id="sendfilterform" class="block">
      <h2>All filters:</h2>
      <ul id="filterlist" ></ul>
      <input type="submit" value="Submit">
  </form>
</div>
</div>
</section>
-->


<section class="section" id="viz">
  <div class="container is-max-desktop content">
    <h2 class="title is-3">Visualizations</h2>
    <iframe id="viziframe" src="https://en.wikipedia.org/wiki/Main_Page"></iframe>
  </div>
</section>

<section class="section" id="BibTeX">
  <div class="container is-max-desktop content">
    <h2 class="title is-3">BibTeX</h2>
    <pre><code>
      @article{
        TODO: add bibtex citation here
      }
    </code></pre>
  </div>
</section>


<style>
  #blocks {
      width:100%;
      height:60px;
      margin:0 auto;
  }
  #block1 {
      height:33.33%;
      width:30%;
      float: left;
  }
  #block2 {
      height:33.33%;
      width:40%;
      float: left;
  }
  #block3 {
      height:33.33%;
      width:30%;
      float: right;
  }
</style>

<footer class="footer">
    <div class="container">
        <div id="blocks">  
          <div id="block1">
            <!--
            TODO: do we want this link?
            <a href="https://theairlab.org/">
              <img src="static/images/Horizontal@2x.png" alt="AirLab Logo" style="width:60%;">
            </a>
            -->
          </div>
          <div id="block2">
            <center>
              <a class="button is-text" itemprop="linkedin" href="https://www.linkedin.com/company/10629296/admin/feed/posts/" target="_blank">
                <i class="fab fa-linkedin fa-lg" style="height:100%;"></i>
              </a>
              <a class="button is-text" itemprop="facebook" href="https://www.facebook.com/airlabcmu/" target="_blank">
                <i class="fab fa-facebook fa-lg" style="height:100%;"></i>
              </a>
              <a class="button is-text" itemprop="twitter" href="https://www.twitter.com/airlabcmu/" target="_blank">
                <i class="fab fa-twitter fa-lg"></i>
              </a>
              <a class="button is-text" itemprop="medium" href="https://medium.com/airlabcmu" target="_blank">
                <i class="fab fa-medium fa-lg"></i>
              </a>
              <a class="button is-text" itemprop="github" href="https://github.com/castacks" target="_blank">
                <i class="fab fa-github fa-lg"></i>
              </a>
              <a class="button is-text" itemprop="bitbucket" href="https://bitbucket.org/castacks/" target="_blank">
                <i class="fab fa-bitbucket fa-lg"></i>
              </a>
              <br>
              <br>
              <p class="" style="font-size: .65rem;">This webpage was adapted from the Nerfies templates, 
                  which is licensed under a 
                  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. 
                  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    <img alt="Creative Commons License" style="border-width:0; height: 0.65rem;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                  </a>
              </p>
              <p class="" style="font-size: .65rem;">If you use the <a href="https://github.com/castacks/visafe">source code</a> of this webpage,
                please also link back to the <a href="https://github.com/nerfies/nerfies.github.io">Nerfies source code</a> in your footer.</p>
            </center>
          </div>
          <div id="block3">
            <!--
          TODO: do we want this link?
            <a href="https://www.ri.cmu.edu/">
              <img src="static/images/riLogo2019.svg" alt="RI Logo" style="float: right;">
            </a>
            -->
          </div>
        </div>
    </div>
</footer>


</body>
</html>
